@page "/productdetails/{id}"
@inherits ProductDetailsBase
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Product.Name</h1>
            </div>

            <div class="card-body text-center">
                <a href="/">
                    <img class="card-img-top" src="@Product.PhotoPath"
                         @onmousemove="@Mouse_Move" />
                </a>  
                <h1>@Coordinates</h1>
                <h4>Product ID : @Product.ProductId</h4>

                <h4>Price : @Product.Price</h4>
                <button class="btn btn-primary" @onclick="@Button_Click">@ButtonText</button>
            </div>
           <AuthorizeView>
               <Authorized>
                   <div class="card-footer text-center @CssClass">
                       <a href="#" class="btn btn-primary">Edit</a>
                       <a class="btn btn-danger m-1" @onclick="Delete_Click">Delete</a>
                       <a href="https://localhost:44303/viewcar" class="btn btn-primary">Back</a>

                   </div>
               </Authorized>
               <NotAuthorized>
                   <div class="card-footer text-center @CssClass">
                       <a href="https://localhost:44303/viewcar" class="btn btn-primary">Back</a>
                   </div>
               </NotAuthorized>
           </AuthorizeView>
        </div>
    </div>
</div>
<Mh.Components.Confirm @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click"
                       ConfirmationMessage=@($"Are you sure you want to delete \"{Product.Name}\"")>
</Mh.Components.Confirm>